#reglog {
    float: right;
    display: inline-block;
}
.city_date_container {
    float: right;
    text-align: left;
}

#map {
    width: 1500px;
    height: 800px;
    margin-left: 25%;
    margin-top: 5%;
}

.eventBoxes {
    position: static;
    background-color: #ccc;
    text-align: center;
    border-bottom: 2px solid #f5f6f7;
    padding: 8px 20px;
    margin: 0;
    min-height: auto;
}
