html {
    background-color: #255763;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
}
body {
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 85%;
    height: 85%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    text-align: center;
    color: white;
    margin-top: 160px;
}

.clear_float {
    clear: both;
}

.homepage_container {
    display: flex;
    justify-content: space-between;
    background: #4b2b31;
    height: 60px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.logo {
    display: flex;
    padding: 10px 20px;
}

.logo h1 {
    margin: 0px;
    font-size: 24px;
    color: #b6a09d;
}
.logo i {
    padding: 5px;
    color: #b6a09d;
}

.nav {
    padding: 10px 20px;
}
.nav a {
    color: #b6a09d;
    padding: 0px 5px;
    font-size: 18px;
    margin: 15px;
}
.sub_nav {
    display: flex;
    justify-content: space-around;
    float: right;
    margin-top: 10px;
    text-align: right;
    color: #b6a09d;
    font-size: 20px;
    padding-inline-end: 25px;
}
.sub_nav button {
    display: inline-flex;
    margin-top: 2px;
    margin: 15px;
    height: 30px;
    border-radius: 6px;
    background-color: #ddd;
    font-size: 14px;
}

.artist_container {
    margin-top: -35px;
}

#artist_info {
    left: -1000px;
}

.artist_info {
    position: fixed;
    top: 170px;
    color: #4b2b31;
    z-index: 1;
    background: #ddd;
    padding: 10px 20px;
    border-color: #4b2b31;
    border: double;
    border-width: 20px;
    border-radius: 10px;
}

.artist_input_container {
    padding-top: 10px;
    padding-left: 20px;
    color: #b6a09d;
    width: 370px;
    max-width: 50%;
    height: 55px;
}

.artist_form {
    display: flex;
    justify-content: space-between;
}

.artist_form input {
    width: 150px;
    height: 28px;
    border-radius: 6px;
}

.artist_form button {
    margin-top: 2px;
    height: 30px;
    border-radius: 6px;
    background-color: #ddd;
    font-size: 14px;
}

.artist_info h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
    padding-bottom: 10px;
    margin: 0px;
}

.similar_artists ul {
    margin-top: 0px;
}

.city_date_container {
    margin-top: -35px;
}
.city_date_input {
    padding-top: 10px;
    padding-left: 20px;
    color: #b6a09d;
    max-width: 60%;
    height: 55px;
}

.city_date_form {
    display: flex;
    justify-content: space-between;
}
.city_date_form input {
    /*display: flex;*/
    width: 300px;
    height: 28px;
    border-radius: 6px;
    margin: 0px 8px;
}

.city_date_form button {
    margin-top: 2px;
    height: 30px;
    border-radius: 6px;
    background-color: #ddd;
    font-size: 14px;
}
.songkick-logo {
    height: 64px;
    width: 64px;
    text-align: right;
}

#map {
    width: 100%;
    height: 600px;
}
.map {
    width: 100%;
    margin-bottom: 3%;
}
.window-header h1 {
    font-family: inherit;
    font-size: 22px;
    text-align: center;
    padding: 10px;
    background-color: #4b2b31;
    color: #999;
    margin: 1px;
    border-radius: 2px 2px 0 0;
}
.window-content {
    font-family: inherit;
    font-weight: bold;
    font-size: 14px;
}
.user-events-container {
    text-align: center;
}
.gm-style {
    background-color: #999;
}

.gm-style .gm-style-iw {
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    background-color: #b6a09d;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}

.gm-style .gm-style-iw-d {
    padding: 20px;
    overflow: hidden !important;
}

/*.gm-style .gm-style-iw-d {
    background-color: #999;
}
.gm-style .gm-style-iw-t {
    background-color: #999;
}*/

.user-reg-container {
    padding: 30px;
}
