{% extends 'base.html' %} {% block head %}

<script src="/static/artistMap.js"></script>


{% endblock %} {% block body %}
<div id="artist_info" class="artist_info">
    <h2 id="artist_title"></h2>
    <div id="artist_image"></div>
    <b>Similar Artists:<b>
    <div class="similar_artists">
        <ul id="sm_artist_list"></ul>
    </div>
</div>

<div class="artist_container">
    <div class="artist_input_container">
        <form class="artist_form" id="artist_form">
            <label for="artist_name">Artist Name:</label>
            <input class="arist_input" id="artist_name" />
            <button id="submit" type="submit">Submit</button>
        </form>
    </div>
    <main>       
        <div id="map"></div>
    </main>
</div>
{% endblock %}
