<!DOCTYPE html>
<html>
<head>
    <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/base.css">
  
    <title>Search Artists Events</title>
</head>
<body>
    <div class="artist_container">
        <form id="artist_form">
          Artist Name:<input id="artist_name">
          </input> 
          <br/>
          <button id="submit" type="submit">Submit</button>
        </form>
        <h2>Upcoming Concerts</h2>
        <ol id="artistEvents">
         
        </ol>
    </div>
    <script src="/static/config.js"></script>
    <script src="/static/artist.js"></script>
</body>
</html>