<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bandwagon</title>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <script
            src="https://kit.fontawesome.com/18a9912b31.js"
            crossorigin="anonymous"
        ></script>
        <link
            href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/static/base.css" />

        {% block head %} {% endblock %}
    </head>
    <body>
        <div class="homepage_container">
            <div class="logo">
                <h1>Bandwagon</h1>
                <i class="fas fa-music"></i>
            </div>
            <div class="nav">
                {% if "user_id" in session %}
                <a class="userstuff" href="/logout">Logout</a>
                <a class="userstuff" href="/userevents/{{session['user_id']}}">
                    Check your favorite events</a
                >
                {% else %}
                <a style="text-decoration:none" id="modal-up" class="userstuff"
                    >Login</a
                >
                <a
                    style="text-decoration:none"
                    id="reglog"
                    class="userstuff"
                    href="/register"
                >
                    New to Bandwagon</a
                >
                {% endif %}
            </div>
        </div>
        {% for flash in get_flashed_messages() %} {{ flash }} {% endfor %}
        <div id="login-modal" class="modal">
            <div class="modal-content">
                <span id="close" class="close">&times;</span>
                <form action="/" method="POST">
                    <h1><b> Get Back On The Wagon</b></h1>
                    <label> Email: </label>
                    <input type="text" name="email" />
                    <br />
                    <label>Password: </label>
                    <input type="password" name="password" />
                    <br />
                    <button id="log-submit" type="submit">Login</button>
                </form>
            </div>
        </div>
        <div class="sub_nav">
            <form action="/artist">
                <button class="artview" type="submit">
                    Artist Search
                </button>
            </form>
            <form action="/citydate">
                <button class="cityview" type="submit">
                    City/Date Search
                </button>
            </form>
        </div>
        <div class="clear_float"></div>
        <script src="/static/userLogin.js"></script>
        {%block body %} {% endblock %}
    </body>
    <script
        async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxXTEHerpr6Pll-YjnzLhh-nemaajFuBY&callback=initMap"
    ></script>
</html>
