{% extends 'base.html' %} {% block head %}
<script src="/static/cityMap.js"></script>

{% endblock %}{% block body %}

<div class="city_date_container">
    <div class="city_date_input" id="city_info">
        <form class="city_date_form" id="city_date_form">
            <label for="City"> City: </label>
            <input class="city_input" id="city_name" />
            <label for="Date(s)">Date(s):</label>
            <input type="date" id="start" name="startDate" />
            <input type="date" id="end" name="endDate" />
            <button id="submit" type="submit">Submit</button>
        </form>
    </div>

    <main>
        <section class="map">
            <div id="map"></div>
        </section>
    </main>
</div>
{% endblock %}
