{% extends 'base.html' %}
{% block head %}

<!-- <script src="templates/script.js"></script>  --> 
<link rel="stylesheet" href="static/base.css">  

<script src="static/maps.js"></script>
<script 
    async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxXTEHerpr6Pll-YjnzLhh-nemaajFuBY&callback=initMap">
</script>

{% endblock %}

{% block body %}

<title>Map Artists</title>
  <h2>Map Your Artists</h2>

  <main>
    <section class="map">
        <div id="map"></div>
    </section>
  </main>
<div class="Artist-info"> Hello There!
    <img class="picture">
    <p class="artist_deets"></p>
</div>

{% endblock %}