{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}

<div class="user-register-container">
    <h1>New to Bandwagon?</h1>
    <br />
    <div class="register-input">
        <h2>Fill out form to register</h2>
        <form class="user_register_form" action="register" method="POST">
            <label> Username: </label>
            <input type="text" name="username" />
            <br />
            <label> Email: </label>
            <input type="email" name="email" />
            <br />
            <label> Password: </label>
            <input type="password" name="password" />
            <br />
            <button class="cta-button" id="reg-submit" type="submit">
                Register
            </button>
        </form>
    </div>
</div>

{% endblock %}
