{% extends 'base.html' %} {% block head %}
<script src="/static/config.js"></script>
<script src="/static/artistMap.js"></script>
{% endblock %} {% block body %}

<div class="user-events-container">
    <h1><b>Your Shows</b></h1>
    <div class="show-info">
        <ul style="list-style-type:none">
            {% for u in user %}
            <li>
                <span>{{ u.event_name }}</span>
                <span>{{ u.date }}</span>
                <span>{{ u.venue_name }}</span>
                <a target="_blank" href="{{ u.songkick_url }}">
                    Get More Info!
                </a>
            </li>
            {% endfor %}
        </ul>
        <hr />
    </div>
</div>
{% endblock %}
