{% extends 'base.html' %} {% block head %}
<script src="/static/config.js"></script>
<script src="/static/artistMap.js"></script>
{% endblock %} {% block body %}

<h1><b>Your Shows</b></h1>
<div class="container">
    <div class="show-info">
        <div class="col" id="show_something">
            <ul>
                {% for u in user %}
                <span><li>{{ u.event_name }}</li></span>
                <span><li>{{ u.date }}</li></span>
                <span><li>{{ u.venue_name }}</li></span>
                <button>
                    <a href="{{ u.songkick_url }}"> Get More Info!</a>
                </button>
                {% endfor %}
            </ul>
            <hr />
        </div>
    </div>
</div>
{% endblock %}
